.opciones-oponente {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.opciones-jugador {
    display: flex;
    justify-content: space-around
}

.imagen {
    width: 200px;
    height: 200px;
    transition: all .2s ease-in-out;
}

.imagen-seleccionable:hover {
    transform: scale(1.1);
    cursor: pointer;
}
